---
import GitHubIcon from './icons/GitHub.astro';

import NextJsIcon from './icons/NextJS.astro';
import SolidityIcon from './icons/Solidity.astro';
import EthereumIcon from './icons/Ethereum.astro';
import ContractsIcon from './icons/Contracts.astro';
import Web3Icon from './icons/Web3.astro';

const TAGS = {
  NEXT: {
    name: 'Next.js',
    class: 'bg-gray-400/50 text-white',
    icon: NextJsIcon,
  },
  SOLIDITY: {
    name: 'Solidity',
    class: 'bg-gray-400/50 text-white',
    icon: SolidityIcon,
  },
  ETHEREUM: {
    name: 'Ethereum',
    class: 'bg-gray-400/50 text-white',
    icon: EthereumIcon,
  },
  SMART_CONTRACTS: {
    name: 'Smart Contracts',
    class: 'bg-gray-400/50 text-white',
    icon: ContractsIcon,
  },
  WEB3: {
    name: 'Web3',
    class: 'bg-gray-400/50 text-white',
    icon: Web3Icon,
  },
}
const PROJECTS = [
  {
    title: 'BetWei',
    description: 'A decentralized betting platform built on Ethereum. Allows users to create and participate in bets using smart contracts.',
    image: './projects/betwei.webp',
    link: 'https://betwei.vercel.app/',
    github: 'https://github.com/betwei/.github',
    tags: [TAGS.NEXT, TAGS.SOLIDITY, TAGS.ETHEREUM, TAGS.SMART_CONTRACTS, TAGS.WEB3]
  }
];
---

{
  PROJECTS.map(({title, description, tags, image, link, github}) => (
    <article>
        <a href={link} target="_blank">
          <h3 class="text-2xl font-semibold text-yellow-200">
            {title}
          </h3>
        </a>
        <a
          class="text-sm text-white/70 hover:text-white"
          href={github}
          target="_blank"
        >
          Repository
        </a>
      <p class="text-lg my-4 text-pretty">
        {description}
      </p>
      <ul class="flex gap-x-2 gap-y-0.5 flex-row flex-wrap mb-2">
        {tags.map((tag) => (
          <li>
            <span class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2`}>
              <tag.icon class="size-4" />
              {tag.name}
            </span>
          </li>
        ))}
      </ul>
      <img
        class="rounded shadow-2xl shadow-white/10"
        src={image}
        alt={title}
      />
    </article>
  ))
}
